[build-system]
requires = [
    "meson",
    "meson-python",
    "pybind11",
    "ninja"
]
build-backend = "mesonpy"

[project]
name = "hipopybind"
version = "2.0.0"
description = "Python bindings for hipo using pybind11"
authors = [
  { name = "Matthew F. McEneaney", email = "matthew.mceneaney@duke.edu" }
]
readme = "README.md"
license = { text = "MIT" }
classifiers = ["Programming Language :: Python :: 3"]
requires-python = ">=3.7"

[project.optional-dependencies]
dev = ["pytest"]

[[tool.poetry.packages]]
include = "hipopybind"
